# Expo
.expo/
dist/
web-build/

# Node
node_modules/
npm-debug.log
yarn-error.log

# TypeScript
*.tsbuildinfo

# Environment
.env
.env.local
.env*.local

# macOS
.DS_Store
*.pem

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Local config
.vscode/
.idea/

# iOS
ios/
*.xcworkspace
*.xcuserdata

# Android
android/
*.apk
*.aab

# Logs
logs/
*.log
